export("location")
export("identifier")
export("locate")
export("computation")
export("read.hdfs")
export("do")
export("value")
export("request")
export("datapool")
export("data")
export("with.comment")
S3method("data", "computation")
S3method("request", "computation")
S3method("value", "computation")
S3method("value", "data")
S3method("identifier", "character")
S3method("locate", "identifier")
S3method("print", "location")
S3method("print", "identifier")
S3method("print", "computation")
S3method("print", "data")
S3method("print", "datapool")
S3method("format", "location")
S3method("format", "identifier")
S3method("format", "computation")
S3method("format", "data")
S3method("format", "datapool")
