importfrom("rzmq", "init.context")
importfrom("rzmq", "init.socket")
importfrom("rzmq", "bind.socket")
importfrom("rzmq", "connect.socket")
importfrom("rzmq", "get.last.endpoint")
importfrom("rzmq", "receive.socket")
importfrom("rzmq", "send.socket")
