importFrom("rzmq", "init.context")
importFrom("rzmq", "init.socket")
importFrom("rzmq", "bind.socket")
importFrom("rzmq", "connect.socket")
importFrom("rzmq", "get.last.endpoint")
importFrom("rzmq", "receive.socket")
importFrom("rzmq", "send.socket")
importFrom("rzmq", "subscribe")

export("gendispatcher")
export("dispatcher")
export("addr")
